CompileFlags:
  Add:
    [
      "--target=avr",
      "-mmcu=atmega328p",
      "-std=c++20",

      "-DARDUINO=10819",
      "-DARDUINO_AVR_UNO",
      "-DARDUINO_ARCH_AVR",

      "-I/opt/homebrew/Cellar/avr-gcc@9/9.5.0/avr/include",
      "-I/opt/homebrew/Cellar/avr-gcc@9/9.5.0/lib/gcc/avr/9.5.0/include",
      "-I/opt/homebrew/Cellar/avr-gcc@9/9.5.0/lib/gcc/avr/9.5.0/include-fixed",

      "-I/Users/davidglogowski/Library/Arduino15/packages/arduino/hardware/avr/1.8.7/cores/arduino",
      "-I/Users/davidglogowski/Library/Arduino15/packages/arduino/hardware/avr/1.8.7/variants/standard",
    ]
