CompileFlags:
  Add:
    [
      "--target=avr",
      "-mmcu=atmega328p",
      "-I/opt/homebrew/Cellar/avr-gcc@9/9.5.0/avr/include",
      "-I/opt/homebrew/Cellar/avr-gcc@9/9.5.0/lib/avr-gcc/9/gcc/avr/9.5.0/include",
    ]
